Repository atomvm/AtomVM, pull requests merged in 2023-07, with the labels that each got.

#652 ESP32: fix loading avm from partition when using add_avm_pack_file
  src/platforms/esp32/components/avm_sys/sys.c
Labels: bug, platform:esp32

#667 Fix missing module in eavmlib CMakeLists.txt
  libs/eavmlib/src/CMakeLists.txt
Labels: lib:eavmlib

#668 Further implement io:format
  libs/estdlib/src/io_lib.erl
  libs/estdlib/src/lists.erl
  libs/estdlib/src/string.erl
  tests/libs/estdlib/test_io_lib.erl
Labels: enhancement, lib:estdlib

#682 Update http_server API to allow passing headers
  libs/eavmlib/src/http_server.erl
Labels: lib:eavmlib

#681 Fix semantic of `list_to_binary/1`
  src/libAtomVM/nifs.c
  tests/erlang_tests/test_list_to_binary.erl
  tests/test.c
Labels: bug

#685 Fix issue with http_server introduced in 474dea9
  libs/eavmlib/src/http_server.erl
Labels: bug

#679 ESP32: add `esp:partition_list/0` function
  .github/workflows/esp32-build.yaml
  CHANGELOG.md
  doc/src/programmers-guide.md
  libs/eavmlib/src/esp.erl
  src/platforms/esp32/components/avm_sys/platform_nifs.c
  src/platforms/esp32/test/main/test_erl_sources/CMakeLists.txt
  src/platforms/esp32/test/main/test_erl_sources/test_esp_partition.erl
  src/platforms/esp32/test/main/test_main.c
  src/platforms/esp32/test/partitions.csv
Labels: platform:esp32
